@model IEnumerable<QLKS.Models.tblKhachHang>

@{
    ViewBag.Title = "Danh sách khách hàng";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Index")">Admin</a>
    </li>
    <li class="breadcrumb-item active">Danh sách khách hàng</li>
</ol>
<p>
    @Html.ActionLink("Thêm Khách hàng", "Add")
</p>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> Danh sách khách hàng
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered">
                <tr>
                    <th>
                        @Html.DisplayName("Username")
                    </th>
                    <th>
                        @Html.DisplayName("Họ tên")
                    </th>
                    <th>
                        @Html.DisplayName("Số CMT")
                    </th>
                    <th>
                        @Html.DisplayName("Số ĐT")
                    </th>
                    <th>
                        @Html.DisplayName("Điểm")
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ma_kh)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ho_ten)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.cmt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.sdt)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.diem)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new { id = item.ma_kh }) |
                            @Html.ActionLink("Details", "Details", new { id = item.ma_kh }) |
                            @Html.ActionLink("Delete", "Delete", new { id = item.ma_kh })
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
