
@{
    ViewBag.Title = "Danh sách gọi dịch vụ";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}
@using QLKS.Models
@model List<tblHoaDon>

<!-- SSS -->
<ol class="breadcrumb">
    <li class="breadcrumb-item">
        <a href="@Url.Action("Index","Index")">Admin</a>
    </li>
    <li class="breadcrumb-item active">Dashboard</li>
</ol>
<div class="card mb-3">
    <div class="card-header">
        <i class="fa fa-table"></i> List Rooms
    </div>
    <div class="card-body">
        <div class="table-responsive">

            <!-- /SSS -->
            <table class="table table-bordered table-striped table-hover" id="dataTable" cellspacing="0">
                <thead>
                    <tr>
                        <th>Số phòng</th>
                        <th>Loại phòng</th>
                        <th>Tầng</th>
                        <th>Ngày vào</th>
                        <th>Tình trạng</th>
                        <th>Option</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>Số phòng</th>
                        <th>Loại phòng</th>
                        <th>Tầng</th>
                        <th>Ngày vào</th>
                        <th>Tình trạng</th>
                        <th>Option</th>
                    </tr>
                </tfoot>
                <tbody>
                    @foreach (var item in Model)
                    {

                        <tr>
                            <td>@item.tblPhieuDatPhong.tblPhong.so_phong</td>
                            <td>@item.tblPhieuDatPhong.tblPhong.tblLoaiPhong.mo_ta</td>
                            <td>@item.tblPhieuDatPhong.tblPhong.tblTang.ten_tang</td>
                            <td>@item.tblPhieuDatPhong.ngay_vao</td>
                            <td><span class="badge badge-danger badge-g">@item.tblPhieuDatPhong.tblPhong.tblTinhTrangPhong.mo_ta</span></td>
                            <td><a href="@Url.Action("GoiDichVu","HoaDon",new { id = item.ma_hd})"><button type="button" class="btn btn-primary badge-g">Gọi dịch vụ</button></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="card-footer small text-muted">Updated yesterday at ... PM</div>
</div>