<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>@ViewBag.title</title>

    <link href="~/Content/Admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom fonts for this template-->
    <link href="~/Content/Admin/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.css" rel="stylesheet">

    <link href="~/Content/Admin/css/sb-admin.css" rel="stylesheet">
    <link href="~/Content/Site.css" rel="stylesheet">
</head>

<body class="fixed-nav sticky-footer bg-dark" id="page-top">
    @{
        if (Session["NV"] == null)
        {
            Response.Redirect("~/Admin/Index/Login");
        }
    }
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top nav-g" id="mainNav">
        <a class="navbar-brand" href="@Url.Action("Index", "Index")">Admin Manager</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav navbar-sidenav" id="exampleAccordion">
                <li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Dashboard">
                    <a class="nav-link" href="@Url.Action("Index", "ThongKe")">
                        <i class="fa fa-fw fa-dashboard"></i>
                        <span class="nav-link-text">Thống kê</span>
                    </a>
                </li>
                <li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Charts">
                    <a class="nav-link" href="@Url.Action("Index", "HoaDon")">
                        <i class="fa fa-fw fa-area-chart"></i>
                        <span class="nav-link-text">Danh sách hóa đơn</span>
                    </a>
                </li>
                <li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Tables">
                    <a class="nav-link" href="@Url.Action("Index", "Index")">
                        <i class="fa fa-fw fa-table"></i>
                        <span class="nav-link-text">Tất cả phòng</span>
                    </a>
                </li>
                <li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Components">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseComponents" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-home"></i>
                        <span class="nav-link-text">Quản lý phòng</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseComponents">
                        <li>
                            <a class="nav-link" href="@Url.Action("ChonCachDatPhong", "Index")">Đặt phòng</a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("ListPhongDangHoatDong", "Index")">Trả Phòng</a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("DSPhongGoiDV", "Index")">Gọi dịch vụ</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Menu">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseMulti" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-sitemap"></i>
                        <span class="nav-link-text">Menu</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseMulti">
                        <li>
                            <a class="nav-link" href="@Url.Action("Index", "PhieuDatPhong")">Phiếu đặt phòng</a>
                        </li>
                        @if (Session["NV"] != null && ((QLKS.Models.tblNhanVien)Session["NV"]).ma_chuc_vu <= 2)
                        {
                            <li>
                                <a href="@Url.Action("Index", "NhanVien")">Nhân viên</a>
                            </li>
                        }
                        <li>
                            <a href="@Url.Action("Index", "KhachHang")">Khách Hàng</a>
                        </li>
                    </ul>
                </li>
                <li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Example Pages">
                    <a class="nav-link nav-link-collapse collapsed" data-toggle="collapse" href="#collapseExamplePages" data-parent="#exampleAccordion">
                        <i class="fa fa-fw fa-wrench"></i>
                        <span class="nav-link-text">Thiết Lập</span>
                    </a>
                    <ul class="sidenav-second-level collapse" id="collapseExamplePages">
                        <li>
                            <a class="nav-link" href="@Url.Action("Index", "DichVu")">Dịch Vụ</a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Index", "Phong")">Phòng</a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Index", "LoaiPhong")">Loại Phòng</a>
                        </li>
                        <li>
                            <a class="nav-link" href="@Url.Action("Index", "Tang")">Tầng</a>
                        </li>
                    </ul>
                </li>

                @*<li class="nav-item nav-item-g" data-toggle="tooltip" data-placement="right" title="Link">
                    <a class="nav-link" href="#">
                        <i class="fa fa-fw fa-link"></i>
                        <span class="nav-link-text">Link</span>
                    </a>
                </li>*@
            </ul>
            <ul class="navbar-nav sidenav-toggler">
                <li class="nav-item">
                    <a class="nav-link text-center" id="sidenavToggler">
                        <i class="fa fa-fw fa-angle-left"></i>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-envelope"></i>
                        <span class="d-lg-none">
                            Messages
                            <span class="badge badge-pill badge-primary">12 New</span>
                        </span>
                        <span class="indicator text-primary d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu g-dropdown" aria-labelledby="messagesDropdown">
                        <h6 class="dropdown-header">Tin nhắn mới:</h6>
                        @{
        QLKS.Models.dataQLKSEntities db = new QLKS.Models.dataQLKSEntities();
        List<QLKS.Models.tblTinNhan> dstn = (List<QLKS.Models.tblTinNhan>)db.tblTinNhans.OrderByDescending(t=>t.ngay_gui).Take(5).ToList();
        foreach (var item in dstn)
        {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">
                        <strong>@if (item.ma_kh == null) {
                            @item.ho_ten
                        }
                        else
                        {
                            @item.tblKhachHang.ho_ten;
                        }

                        </strong>
                        <span class="small float-right text-muted">@item.ngay_gui</span>
                        
                        <div class="dropdown-message small">
                        <i class="fa fa-envelope-o" aria-hidden="true"></i>
                        <i>@if (item.ma_kh == null)
                        {
                            @item.mail
                        }
                        else
                        {
                            @item.tblKhachHang.mail
                        }</i>
                        <br />
                        @item.noi_dung
                        </div>
                    </a>
}
                        }


                        @*<div class="dropdown-divider"></div>
        <a class="dropdown-item small" href="#">View all messages</a>*@
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle mr-lg-2" id="alertsDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fa fa-fw fa-bell"></i>
                        <span class="d-lg-none">
                            Thông báo
                            <span class="badge badge-pill badge-warning">7 New</span>
                        </span>
                        <span class="indicator text-warning d-none d-lg-block">
                            <i class="fa fa-fw fa-circle"></i>
                        </span>
                    </a>
                    <div class="dropdown-menu g-dropdown" aria-labelledby="alertsDropdown">
                        <h6 class="dropdown-header">Thông Báo</h6>


                        @{
                            DateTime d = DateTime.Now.AddDays(1);
                            List<QLKS.Models.tblHoaDon> hd = db.tblHoaDons.Where(t => t.ma_tinh_trang == 1 && t.tblPhieuDatPhong.ngay_ra < d).OrderBy(t => t.tblPhieuDatPhong.ngay_ra).Take(5).OrderByDescending(t=>t.tblPhieuDatPhong.ngay_ra).ToList();
                            List<QLKS.Models.tblPhieuDatPhong> pdp = db.tblPhieuDatPhongs.Where(t => t.ma_tinh_trang == 1).OrderByDescending(t => t.ngay_dat).Take(5).ToList();
                            int i = 0, j = 0, k = 0, max = 7;
                            while (k < max && i < hd.Count && j < pdp.Count)
                            {
                                if (hd[i].tblPhieuDatPhong.ngay_ra.Value.AddDays(-1) > pdp[j].ngay_dat)
                                {
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <span class="text-danger">
                                            <strong>
                                                <i class="fa fa-sign-out fa-fw"></i>Trả phòng @hd[i].tblPhieuDatPhong.tblPhong.so_phong
                                            </strong>
                                        </span>
                                        <span class="small float-right text-muted">@hd[i].tblPhieuDatPhong.ngay_ra.Value.AddDays(-1).ToShortDateString()</span>
                                        <div class="dropdown-message small">Thời gian trả phòng vào lúc @hd[i].tblPhieuDatPhong.ngay_ra</div>
                                    </a>
                                    i = i + 1;
                                }
                                else
                                {

                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">
                                        <span class="text-success">
                                            <strong>
                                                <i class="fa fa-plus-circle fa-fw"></i>Đặt phòng @pdp[j].tblPhong.so_phong
                                            </strong>
                                        </span>
                                        <span class="small float-right text-muted"> @pdp[j].ngay_dat.Value.ToShortDateString()</span>
                                        <div class="dropdown-message small">Phòng @pdp[j].tblPhong.so_phong được đặt vào lúc @pdp[j].ngay_dat</div>
                                    </a>
                                    j = j + 1;

                                }
                                k = k + 1;
                            }
                            for (int a = i; a < hd.Count; a++)
                            {
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span class="text-danger">
                                        <strong>
                                            <i class="fa fa-sign-out fa-fw"></i>Trả phòng @hd[a].tblPhieuDatPhong.tblPhong.so_phong
                                        </strong>
                                    </span>
                                    <span class="small float-right text-muted">@hd[a].tblPhieuDatPhong.ngay_ra.Value.AddDays(-1).ToShortDateString()</span>
                                    <div class="dropdown-message small">Thời gian trả phòng vào lúc @hd[a].tblPhieuDatPhong.ngay_ra</div>
                                </a>

                                k = k + 1;
                                if (k >= max)
                                {
                                    break;
                                }
                            }
                            for (int a = j; a < pdp.Count; a++)
                            {

                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">
                                    <span class="text-success">
                                        <strong>
                                            <i class="fa fa-plus-circle fa-fw"></i>Đặt phòng @pdp[a].tblPhong.so_phong
                                        </strong>
                                    </span>
                                    <span class="small float-right text-muted">@pdp[a].ngay_dat.Value.ToShortDateString()</span>
                                    <div class="dropdown-message small">Phòng @pdp[a].tblPhong.so_phong được đặt vào lúc @pdp[a].ngay_dat</div>
                                </a>
                                k = k + 1;
                                if (k >= max)
                                {
                                    break;
                                }
                            }
                        }



                        @*
                            <div class="dropdown-divider"></div><a class="dropdown-item small" href="#">View all alerts</a>*@
                    </div>
                </li>
                @*<li class="nav-item">
                        <form class="form-inline my-2 my-lg-0 mr-lg-2">
                            <div class="input-group">
                                <input class="form-control" type="text" placeholder="Search for...">
                                <span class="input-group-btn">
                                    <button class="btn btn-primary" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
                            </div>
                        </form>
                    </li>*@
                @{if (Session["NV"] != null)
                    {
                        QLKS.Models.tblNhanVien nv = (QLKS.Models.tblNhanVien)Session["NV"];
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle mr-lg-2" id="messagesDropdown" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @nv.ho_ten
                            </a>
                            <div class="dropdown-menu" aria-labelledby="messagesDropdown">
                                <h6 class="dropdown-header">
                                    <i class="fab fa-hubspot"></i> @nv.tblChucVu.chuc_vu
                                </h6>
                                <div class="dropdown-divider"></div>
                                <h6 class="dropdown-header">
                                    <a href="@Url.Action("CaNhan","Index")"><i class="fa fa-user"></i> Cá Nhân</a></h6>
                                    <div class="dropdown-divider"></div>
                                    <a data-toggle="modal" data-target="#exampleModal" class="dropdown-item small" href="#"><i class="fa fa-fw fa-sign-out"></i>Logout</a>
</div>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>
    <div class="content-wrapper">
        <div class="container-fluid">
            <!-- /Body-->
            @RenderBody()
        </div>
        <!-- /.container-fluid-->
        <!-- /.content-wrapper-->
        <footer class="sticky-footer">
            <div class="container">
                <div class="text-center">
                    <small>Copyright © GHotel 2023</small>
                </div>
            </div>
        </footer>
        <!-- Scroll to Top Button-->
        <a class="scroll-to-top rounded" href="#page-top">
            <i class="fa fa-angle-up"></i>
        </a>
        <!-- Logout Modal-->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">×</span>
                        </button>
                    </div>
                    <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                    <div class="modal-footer">
                        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                        <a class="btn btn-primary" href="@Url.Action("Logout", "Index")">Logout</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bootstrap core JavaScript-->
        <script src="~/Content/Admin/vendor/jquery/jquery.min.js"></script>
        <script src="~/Content/Admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- Core plugin JavaScript-->
        <script src="~/Content/Admin/vendor/jquery-easing/jquery.easing.min.js"></script>
        <!-- Page level plugin JavaScript-->
        <script src="~/Content/Admin/vendor/datatables/jquery.dataTables.js"></script>
        <script src="~/Content/Admin/vendor/datatables/dataTables.bootstrap4.js"></script>
        <!-- Custom scripts for all pages-->
        <script src="~/Content/Admin/js/sb-admin.min.js"></script>
        <!-- Custom scripts for this page-->
        <script src="~/Content/Admin/js/sb-admin-datatables.min.js"></script>
        @*<script src="~/Content/Admin/js/sb-admin-charts.min.js"></script>*@
    </div>
</body>

</html>
